.container {
    display: flex;
    flex-direction: column;
}

.header {
    /* width: 100%; */
    background-color: rgb(247, 247, 247);

    height: 3rem;

    display: flex;

    justify-content: flex-end;
    align-items: center;

    gap: 1.5rem;

    padding-inline: 2rem;
}


.header .item {
    cursor: pointer;
}

.not-dot{
    background-color: rgb(245, 52, 52);
    
    width: .5rem;
    height: .5rem;

    border-radius: .5rem;

    position: absolute;
    /* right: 0; */
}

.modalNotifications{
    width: 30rem;
    
    background-color: #fff;

    border: none;

    outline: none;

    position: absolute;

    right: 2.5rem;
    top: 2.5rem;

    padding: 1rem;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    -webkit-box-shadow: 7px 7px 14px -1px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 7px 7px 14px -1px rgba(0, 0, 0, 0.23);
    box-shadow: 7px 7px 14px -1px rgba(0, 0, 0, 0.23);
}

.modalNotifications .notifications{
    overflow: auto;
    max-height: 70vh;
}

.closeModal {
    cursor: pointer;
    position: absolute;
    right: 1rem;
}

.modalNotifications .modal-header{
    display: flex;

    gap: .2rem;

    align-items: center;
    justify-content: space-between;

    padding-bottom: .5rem;
    margin-bottom: .5rem;

    border-bottom: .5px solid #ece9e9;
}

.modalNotifications .title{
    font-size: 1.3rem;
    
}

.modalNotifications .modal-count{
    margin-right: 2.4rem;

    font-weight: bold;
    font-size: .9rem;

    color: rgb(247, 247, 247);

    background-color: rgb(230, 54, 54);
    width: 1.4rem;
    height: 1.4rem;

    display: flex;

    justify-content: center;
    align-items: center;

    border-radius: .7rem;
}

.notification{
    background-color: rgba(211, 209, 209, 0.2);

    margin-top: .3rem;

    border-radius: 5px;

    padding: .6rem;

    margin-right: .5rem;
}

.notification .not-header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: .5rem;

}

.notification .not-delete{
    width: 1.5rem;

    cursor: pointer;
    /* margin-right: rem; */
}

.notification .not-title{
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    font-size: 1rem;

    font-weight: bold;

}
.notification .not-subtitle{
    font-size: .8rem;

}

.main {
    height: calc(100vh - 4rem);

    background-color: rgb(206, 200, 200);

    display: grid;

    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;

}

.main .box {
/* background-color: gray; */

margin: 1rem;
border-radius: 12px;
}

.main .box-1{
    /* width: 10rem; */
    /* height: 20rem; */

    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;

    justify-self: stretch;

    background-color: rgb(229, 229, 233);
}
.main .box-2{


    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;

    background-color: rgb(229, 229, 233);
}
.main .box-3{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;

    background-color: rgb(229, 229, 233);
}
.main .box-4{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;

    background-color: rgb(229, 229, 233);
}


