

.containerLogin{
    display: flex;
    align-items: center;

    justify-content: center;

    /* background-color: #646262; */

    height: 90vh;
}

.card {
    font-family: Arial, Helvetica, sans-serif;

    display: flex;
    flex-direction: column;

    width: 20rem;
    padding: 4rem;

    justify-content: center;
    align-items: center;

    border-radius: 6px;

    background-color: white;



    -webkit-box-shadow: 7px 7px 14px -1px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 7px 7px 14px -1px rgba(0, 0, 0, 0.23);
    box-shadow: 7px 7px 14px -1px rgba(0, 0, 0, 0.23);
}

.card .title{
    
    font-size: 1.3rem;

    margin-bottom: 1.9rem;


}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 1.5rem;
}

form .inputContainer{
    display: flex;
    flex-direction: column;
}

form .inputContainer label{
    color: #646262;
    margin-bottom: .2rem;
}

form .inputContainer input{
    width: 16rem;
    height: 2rem;

    border-radius: 6px;

    border: 1px solid rgb(194, 191, 191);

    padding-inline: .5rem;
}

form .options {
    display: flex;
    width: 17rem;

    align-items: center;

    justify-content: space-between;

    margin-top: -1rem;

}

form .checkboxContainer{
    display: flex;

    align-items: center;

}

form .checkboxContainer .checkbox{
    width: 1rem;
    height: 1rem;
    
    margin-right: .3rem;
}

form .checkboxContainer .labelCheck{
    font-size: .8rem;
    color: #646262;

}

form .forgotPass{
    font-size: .8rem;
    text-decoration: none;

    color: #646262;
    font-weight: bold;
}


form .button{
    width: 17rem;
    height: 2.5rem;

    margin-top: 1rem;

    background-color: #0D99FF;

    text-decoration: none;

    border: none;
    border-radius: 6px;

    color: #ffffff;

    font-weight: bold;

    font-size: 1rem;

    cursor: pointer;
}

form .register{
    font-size: .8rem;
    text-decoration: none;

    color: #646262;
}
form .register a{
    font-size: .8rem;
    text-decoration: none;

    font-weight: bold;
}